{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} - Voiture de confiance

{% endblock title %}

{% block body %}

<h1>Nos offres</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn"> Submit </button>
{{ form_end(form) }}

<table class="table">

    <tr>
        <th>Fabricant</th>
        <th>Nom</th>
        <th>Actions</th>
    </tr>

    {% for car in cars %}
        <tr>
            <td>{{ car.make.name }}</td>
            <td>{{ car.model.name }}</td>
            <td><a href="{{ url('show_car', {id: car.id }) }}">Afficher les details</a></td>
        </tr>
    {% endfor %}

</table>

{% endblock body %}