{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}  
{% endblock title %}

{% block body %}
    <h1>{{ car.model.name }}</h1>
    <h3>Fabricant: {{ car.make.name }}</h3>
    <p>Description {{ car.description }}</p>

    <table class="table">
        <tr>
            <td>Prix</td>
            <td>{{ car.price }}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>{{ car.year }}</td>
        </tr>
        <tr>
            <td>Système de navigation</td>
            <td> 
                {% if car.navigation %}
                    Activé
                {% else %}
                    Désactivé
                {% endif %}
            </td>
                
        </tr>
    </table>
{% endblock body %}
